# Use an already existing resource group
#resource_group_name = "my-resource-group"

# Use an already existing virtual network
#vnet_name = "my-vnet"

# Use an already existing subnet in this virtual network
#subnet_name = "my-subnet"

# vnet address range in CIDR notation
# Only used if the vnet is created by terraform or the user doesn't have read permissions in this
# resource. To use the current vnet address range set the value to an empty string
# To define custom ranges
#vnet_address_range = "10.74.0.0/16"
#subnet_address_range = "10.74.1.0/24"
# Or to use already existing address ranges
#vnet_address_range = ""
#subnet_address_range = ""

# VM size to use for the cluster nodes
hana_vm_size = "Standard_M32ls"

# Disk type for HANA
hana_data_disk_type = "StandardSSD_LRS"

# Disk size for HANA
hana_data_disk_size = "60"

# Caching used for HANA disk
hana_data_disk_caching = "ReadWrite"

# Number of nodes in the cluster
hana_count = "2"

# Instance number for the HANA database. 00 by default.
hana_instance_number = "00"

# Region where to deploy the configuration
az_region = "westeurope"

# Variable to control what is deployed in the nodes. Can be all, skip-hana or skip-cluster
init_type = "all"

# SLES4SAP image information
# If custom uris are enabled public information will be omitted
# Custom sles4sap image
#sles4sap_uri = "/path/to/your/image"

# Custom iscsi server image
#iscsi_srv_uri = "/path/to/your/iscsi/image"

# Custom monitoring server image
#monitoring_uri = "/path/to/your/monitoring/image"

# Custom drbd nodes image
#drbd_image_uri = "/path/to/your/monitoring/image"

# Public sles4sap image
hana_public_publisher = "SUSE"
hana_public_offer     = "SLES-SAP-BYOS"
hana_public_sku       = "12-sp4"
hana_public_version   = "latest"

# Public iscsi server image
iscsi_public_publisher = "SUSE"
iscsi_public_offer     = "SLES-SAP-BYOS"
iscsi_public_sku       = "15"
iscsi_public_version   = "latest"

# Public monitoring server image
monitoring_public_publisher = "SUSE"
monitoring_public_offer     = "SLES-SAP-BYOS"
monitoring_public_sku       = "15"
monitoring_public_version   = "latest"

# Public drbd nodes image
drbd_public_publisher = "SUSE"
drbd_public_offer     = "SLES-SAP-BYOS"
drbd_public_sku       = "15"
drbd_public_version   = "latest"

# Admin user
admin_user = "YOUR_USERNAME_HERE"

# SSH Public key to configure access to the remote instances
public_key_location = "/path/to/your/public/ssh/key"

# Private SSH Key location
private_key_location = "/path/to/your/private/ssh/key"

# Azure storage account name
storage_account_name = "YOUR_STORAGE_ACCOUNT_NAME"

# Azure storage account secret key (key1 or key2)
storage_account_key = "YOUR_STORAGE_ACCOUNT_KEY"

# Azure storage account path where HANA installation master is located
hana_inst_master = "//YOUR_STORAGE_ACCOUNT_NAME.file.core.windows.net/path/to/your/hana/installation/master/51053381"
# Or you can combine the `hana_inst_master with` `hana_platform_folder` variable.
#hana_inst_master = "//YOUR_STORAGE_ACCOUNT_NAME.file.core.windows.net/path/to/your/hana/installation/master
# Specify the path to already extracted HANA platform installation media, relative to hana_inst_master mounting point.
# This will have preference over hdbserver sar archive installation media
#hana_platform_folder = "51053381"

# Or specify the path to the sapcar executable & HANA database server installation sar archive, relative to the 'hana_inst_master' mounting point
# The sar archive will be extracted to path specified at hana_extract_dir (optional, by default /sapmedia/HANA)
# Make sure to use the latest/compatible version of sapcar executable, otherwise file may be extracted incorrectly
hana_sapcar_exe = "SAPCAR"
hdbserver_sar = "IMDB_SERVER.SAR"
hana_extract_dir = "/sapmedia/HDBSERVER"

# Device used by node where HANA will be installed
hana_disk_device = "/dev/sdc"

# Device used by the iSCSI server to provide LUNs
iscsidev = "/dev/sdc"

# IP address of the iSCSI server. If it's not set the address will be auto generated from the provided vnet address range
#iscsi_srv_ip = "10.74.1.14"

# Path to a custom ssh public key to upload to the nodes
# Used for cluster communication for example
cluster_ssh_pub = "salt://hana_node/files/sshkeys/cluster.id_rsa.pub"

# Path to a custom ssh private key to upload to the nodes
# Used for cluster communication for example
cluster_ssh_key = "salt://hana_node/files/sshkeys/cluster.id_rsa"

# Each host IP address (sequential order). If it's not set the addresses will be auto generated from the provided vnet address range
#hana_ips = ["10.74.1.11", "10.74.1.12"]
#hana_cluster_vip = "10.74.1.13"

# Each drbd cluster host IP address (sequential order). If it's not set the addresses will be auto generated from the provided vnet address range
#drbd_ips = ["10.74.1.21", "10.74.1.22"]
#drbd_cluster_vip = "10.74.1.23"

# Repository url used to install HA/SAP deployment packages"
# The latest RPM packages can be found at:
# https://download.opensuse.org/repositories/network:/ha-clustering:/Factory/{YOUR OS VERSION}
# Contains the salt formulas rpm packages.
# To auto detect the SLE version
#ha_sap_deployment_repo = "http://download.opensuse.org/repositories/network:/ha-clustering:/Factory/"
# Specific SLE version used in all the created machines
#ha_sap_deployment_repo = "http://download.opensuse.org/repositories/network:/ha-clustering:/Factory/SLE_15/"
ha_sap_deployment_repo = ""

# Optional SUSE Customer Center Registration parameters
#reg_code = "<<REG_CODE>>"
#reg_email = "<<your email>>"

# For any sle12 version the additional module sle-module-adv-systems-management/12/x86_64 is mandatory if reg_code is provided
#reg_additional_modules = {
#    "sle-module-adv-systems-management/12/x86_64" = ""
#    "sle-module-containers/12/x86_64" = ""
#    "sle-ha-geo/12.4/x86_64" = "<<REG_CODE>>"
#}

# Cost optimized scenario
#scenario_type: "cost-optimized"

# To disable the provisioning process
#provisioner = ""

# Run provisioner execution in background
#background = true

# Monitoring variables

# Enable the host to be monitored by exporters
#monitoring_enabled = true

# IP address of the machine where Prometheus and Grafana are running. If it's not set the address will be auto generated from the provided vnet address range
#monitoring_srv_ip = "10.74.1.13"

# Enable drbd cluster
#drbd_enabled = true

# Netweaver variables

#netweaver_enabled = true
# If the addresses are not set they will be auto generated from the provided vnet address range
#netweaver_ips = ["10.74.1.30", "10.74.1.31", "10.74.1.32", "10.74.1.33"]
#netweaver_virtual_ips = ["10.74.1.35", "10.74.1.36", "10.74.1.37", "10.74.1.38"]

#netweaver_storage_account_key = "YOUR_STORAGE_ACCOUNT_KEY"
#netweaver_storage_account_name = "YOUR_STORAGE_ACCOUNT_NAME"
#netweaver_storage_account = "//YOUR_STORAGE_ACCOUNT_NAME.file.core.windows.net/path/to/your/nw/installation/master"
# Netweaver installation required folders
# SAP SWPM installation folder, relative to the netweaver_storage_account mounting point
#netweaver_swpm_folder     =  "your_swpm"
# Or specify the path to the sapcar executable & SWPM installer sar archive, relative to the netweaver_storage_account mounting point
# The sar archive will be extracted to path specified at netweaver_swpm_extract_dir (optional, by default /sapmedia/NW/SWPM)
#netweaver_sapcar_exe = "your_sapcar_exe_file_path"
#netweaver_swpm_sar = "your_swpm_sar_file_path"
#netweaver_swpm_extract_dir = "location_to_extract_swpm_sar_absolute_path"
# Folder where needed SAR executables (sapexe, sapdbexe) are stored, relative to the netweaver_storage_account mounting point
#netweaver_sapexe_folder   =  "kernel_nw75_sar"
# Additional folders (added in start_dir.cd), relative to the netweaver_storage_account mounting point
#netweaver_additional_dvds = ["dvd1", "dvd2"]

# QA variables

# Define if the deployment is using for testing purpose
# Disable all extra packages that do not come from the image
# Except salt-minion (for the moment) and salt formulas
# true or false (default)
#qa_mode = false

# Execute HANA Hardware Configuration Check Tool to bench filesystems
# qa_mode must be set to true for executing hwcct
# true or false (default)
#hwcct = false

# Pre deployment

# Enable all some pre deployment steps (disabled by default)
#pre_deployment = true
