**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars
azure/terraform/provision/node0_id_rsa
azure/terraform/provision/node0_id_rsa.pub
azure/terraform/provision/node1_id_rsa
azure/terraform/provision/node1_id_rsa.pub
