.show_plan {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-height: calc(100vh - 80px);
}
.hide {
    display: none !important;
}
.centered {
    margin-left: 50% !important;
}
.no-hover {
    pointer-events: none;
}
.linebreaks {
    white-space: pre-wrap;
}
