.show_plan {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-height: calc(100vh - 80px);
}
a.disabled {
    pointer-events: none;
    cursor: default;
}
.hide {
    display: none !important;
}
.no-hover {
    pointer-events: none;
}
