{%- set aws_access_key_id = salt['cmd.run']('sed -En "s/aws_access_key_id[[:blank:]]*=[[:blank:]]*(.*)/\\\\1/p" ~'~grains['username']~'/.aws/config', python_shell=true) %}
{%- set aws_secret_access_key = salt['cmd.run']('sed -En "s/aws_secret_access_key[[:blank:]]*=[[:blank:]]*(.*)/\\\\1/p" ~'~grains['username']~'/.aws/config', python_shell=true) %}
[profile {{ grains['aws_cluster_profile'] }}]
region = {{ grains['region'] }}
output = text
aws_access_key_id = {{ aws_access_key_id }}
aws_secret_access_key = {{ aws_secret_access_key }}
