{%- set aws_access_key_id = salt['cmd.run']('cat ~'~grains['username']~'/.aws/config | sed -En "s/aws_access_key_id = (.*)/\\\\1/p"', python_shell=true) %}
{%- set aws_secret_access_key = salt['cmd.run']('cat ~'~grains['username']~'/.aws/config | sed -En "s/aws_secret_access_key = (.*)/\\\\1/p"', python_shell=true) %}
[profile {{ grains['aws_cluster_profile'] }}]
region = {{ grains['region'] }}
output = text
aws_access_key_id = {{ aws_access_key_id }}
aws_secret_access_key = {{ aws_secret_access_key }}
