%div.card
  %h3.card-header Cluster size
  %div.card-body.cluster-size-selector
    %div.row
      %div.col-md-8
        %label{ for: "cluster_instance_count" }
          Number of instances
          - if @cluster.current_cluster_size > 0
            to add (current size: #{ pluralize(@cluster.current_cluster_size, 'node') })
        %div.form-row
          %div.col-2
            %input.form-control.form-control-sm#count-display{ type: 'number', min: @cluster.min_nodes_required, max: @cluster.max_nodes_allowed, value: @cluster.instance_count }
          %div.col-1
          %div.col
            = form.text_field :instance_count, value: @cluster.instance_count, data: @cluster.slider_data, class: 'h3'
      %div.col-md-2.text-right.cluster-cpu-count
        %label Total vCPUs
        %label.h3#cluster-cpu-count= 0
      %div.col-md-2.text-right.cluster-ram-size
        %label Total RAM
        %label.h3#cluster-ram-size{ data: { bytes: 0 } }= 0
  - if @cluster.min_nodes_required > 0
    %div.card-footer
      = tip_icon
      At least three nodes are required for a reliable cluster.
