qemu_uri = "qemu:///system"
sap_inst_media = "url-to-your-nfs-share"
base_image = "url-to-your-sles4sap-image"
name_prefix = "your-name"
iprange = "192.168.XXX.Y/24"
host_ips = ["192.168.XXX.Y", "192.168.XXX.Y+1"]
additional_repos = {}

# Repository url used to install install HA/SAP deployment packages"
# The latest RPM packages can be found at:
# https://download.opensuse.org/repositories/network:/ha-clustering:/Factory/{YOUR OS VERSION}
# Contains the salt formulas rpm packages.
ha_sap_deployment_repo = ""

# Optional SUSE Customer Center Registration parameters
#reg_code = "<<REG_CODE>>"
#reg_email = "<<your email>>"
#reg_additional_modules = {
#    "sle-module-adv-systems-management/12/x86_64" = ""
#    "sle-module-containers/12/x86_64" = ""
#    "sle-ha-geo/12.4/x86_64" = "<<REG_CODE>>"
#}
