qemu_uri = "qemu:///system"
sap_inst_media = "url-to-your-nfs-share"
base_image = "url-to-your-sles4sap-image"
name_prefix = "your-name"
iprange = "192.168.XXX.Y/24"
host_ips = ["192.168.XXX.Y", "192.168.XXX.Y+1"]
additional_repos = {}

# Shared storage type information
shared_storage_type = "iscsi"
iscsi_srv_ip = "192.168.XXX.Y+2"
iscsi_image = "url-to-your-sles4sap-image" # sles15 or above

# Repository url used to install HA/SAP deployment packages"
# The latest RPM packages can be found at:
# https://download.opensuse.org/repositories/network:/ha-clustering:/Factory/{YOUR OS VERSION}
# Contains the salt formulas rpm packages.
ha_sap_deployment_repo = ""

# Optional SUSE Customer Center Registration parameters
#reg_code = "<<REG_CODE>>"
#reg_email = "<<your email>>"
#reg_additional_modules = {
#    "sle-module-adv-systems-management/12/x86_64" = ""
#    "sle-module-containers/12/x86_64" = ""
#    "sle-ha-geo/12.4/x86_64" = "<<REG_CODE>>"
#}

# Cost optimized scenario
#scenario_type: "cost-optimized"

# To disable the provisioning process
#provisioner = ""

# Run provisioner execution in background
#background = true

# Monitoring:
# add here HOST:PORT. In this example we monitor on same hosts different services
monitored_services = ["192.168.110.X:8001", "192.168.110.X+1:8001", "192.168.110.X:9100", "192.168.110.X+1:9100"]

# by default monitoring is enabled, if you want to disable it on your node set to false
# monitoring_enabled = false

# libvirt storage pool, select the libvirt storage pool where the volume will stored

# storage_pool = "terraform"


# QA variables

# Define if the deployement is using for testing purpose
# Disable all extra packages that do not come from the image
# Except salt-minion (for the moment) and salt formulas
# true or false
#qa_mode = false
