# GCP project id
project = "my-project"

# Credentials file for GCP
gcp_credentials_file = "my-project.json"

# Region where to deploy the configuration
region = "europe-west1"

# Use an already existing vpc
#vpc_name = "my-vpc"

# Use an already existing subnet in this virtual network
#subnet_name = "my-subnet"

# vpc address range in CIDR notation
# Only used if the vpc is created by terraform or the user doesn't have read permissions in this
# resource. To use the current vpc address range set the value to an empty string
# To define custom ranges
#ip_cidr_range = "10.0.0.0/24"
# Or to use already existing address ranges
#ip_cidr_range = ""

# SSH private key file
private_key_location = "/path/to/your/private/ssh/key"

# SSH public key file
public_key_location = "/path/to/your/public/ssh/key"

# IP for iSCSI server
#iscsi_srv_ip = "10.0.0.253"

# Type of VM (vCPUs and RAM)
machine_type = "n1-highmem-32"
machine_type_iscsi_server = "custom-1-2048"

# Disk type for HANA
hana_data_disk_type = "pd-ssd"

# Disk size for HANA in GB
hana_data_disk_size = "834"

# Disk type for HANA backup
hana_backup_disk_type = "pd-standard"

# Disk size for HANA backup in GB
hana_backup_disk_size = "416"

# HANA cluster vip
#hana_cluster_vip = "10.0.1.200"

# The name of the GCP storage bucket in your project that contains the SAP HANA installation files
sap_hana_deployment_bucket = "MyHanaBucket/51053381"
# Or you can combine the `sap_hana_deployment_bucket` with `hana_platform_folder` variable.
#sap_hana_deployment_bucket = "MyHanaBucket"
# Specify the path to already extracted HANA platform installation media, relative to sap_hana_deployment_bucket.
# This will have preference over hdbserver sar archive installation media
#hana_platform_folder = "51053381"

# Or specify the path to the sapcar executable & HANA database server installation sar archive, relative to the sap_hana_deployment_bucket
# The sar archive will be extracted to path specified at hana_extract_dir (optional, by default /sapmedia/HANA)
# Make sure to use the latest/compatible version of sapcar executable, otherwise file may be extracted incorrectly
hana_sapcar_exe = "SAPCAR"
hdbserver_sar = "IMDB_SERVER.SAR"
hana_extract_dir = "/sapmedia/HDBSERVER"

# Custom sles4sap image
sles4sap_boot_image = "MySles4SapImage"

# Variable to control what is deployed in the nodes. Can be all, skip-hana or skip-cluster
init_type = "all"

# Path to a custom ssh public key to upload to the nodes
# Used for cluster communication for example
cluster_ssh_pub = "salt://hana_node/files/sshkeys/cluster.id_rsa.pub"

# Path to a custom ssh private key to upload to the nodes
# Used for cluster communication for example
cluster_ssh_key = "salt://hana_node/files/sshkeys/cluster.id_rsa"

# Each host IP address (sequential order).
#hana_ips = ["10.0.0.2", "10.0.0.3"]

# Local folder where HANA installation master will be mounted
hana_inst_folder = "/sapmedia/HANA"

# Repository url used to install HA/SAP deployment packages"
# The latest RPM packages can be found at:
# https://download.opensuse.org/repositories/network:/ha-clustering:/Factory/{YOUR OS VERSION}
# Contains the salt formulas rpm packages.
# To auto detect the SLE version
#ha_sap_deployment_repo = "http://download.opensuse.org/repositories/network:/ha-clustering:/Factory/"
# Specific SLE version used in all the created machines
#ha_sap_deployment_repo = "http://download.opensuse.org/repositories/network:/ha-clustering:/Factory/SLE_15/"
ha_sap_deployment_repo = ""

# Optional SUSE Customer Center Registration parameters
#reg_code = "<<REG_CODE>>"
#reg_email = "<<your email>>"

# For any sle12 version the additional module sle-module-adv-systems-management/12/x86_64 is mandatory if reg_code is provided
#reg_additional_modules = {
#    "sle-module-adv-systems-management/12/x86_64" = ""
#    "sle-module-containers/12/x86_64" = ""
#    "sle-ha-geo/12.4/x86_64" = "<<REG_CODE>>"
#}

# Cost optimized scenario
#scenario_type: "cost-optimized"

# To disable the provisioning process
#provisioner = ""

# Run provisioner execution in background
#background = true

# Monitoring variables

# Enable the host to be monitored by exporters
#monitoring_enabled = true

# IP address of the machine where Prometheus and Grafana are running
#monitoring_srv_ip = "10.0.0.4"

# QA variables

# Define if the deployment is using for testing purpose
# Disable all extra packages that do not come from the image
# Except salt-minion (for the moment) and salt formulas
# true or false (default)
#qa_mode = false

# Execute HANA Hardware Configuration Check Tool to bench filesystems
# qa_mode must be set to true for executing hwcct
# true or false (default)
#hwcct = false

# drbd related variables

# Enable drbd cluster
#drbd_enabled = true

#drbd_machine_type = n1-standard-4

#drbd_image = suse-byos-cloud/sles-15-sap-byos

#drbd_data_disk_size = 15

#drbd_data_disk_type = pd-standard

# Each drbd cluster host IP address (sequential order).
#drbd_ips = ["10.0.0.10", "10.0.0.11"]
#drbd_cluster_vip = "10.0.1.201"

# netweaver related variables

# Enable netweaver cluster
#netweaver_enabled = true

#netweaver_machine_type = n1-standard-4

#netweaver_image = suse-byos-cloud/sles-15-sap-byos

#netweaver_software_bucket = "MyNetweaverBucket"

# Netweaver installation required folders
# SAP SWPM installation folder, relative to netweaver_software_bucket folder
#netweaver_swpm_folder     =  "your_swpm"
# Or specify the path to the sapcar executable & SWPM installer sar archive, relative to netweaver_software_bucket folder
# The sar archive will be extracted to path specified at netweaver_swpm_extract_dir (optional, by default /sapmedia/NW/SWPM)
#netweaver_sapcar_exe = "your_sapcar_exe_file_path"
#netweaver_swpm_sar = "your_swpm_sar_file_path"
#netweaver_swpm_extract_dir = "location_to_extract_swpm_sar_absolute_path"
# Folder where needed SAR executables (sapexe, sapdbexe) are stored, relative to netweaver_software_bucket folder
#netweaver_sapexe_folder   =  "kernel_nw75_sar"
# Additional folders (added in start_dir.cd), relative to netweaver_software_bucket folder
#netweaver_additional_dvds = ["dvd1", "dvd2"]

#netweaver_ips = ["10.0.0.20", "10.0.0.21", "10.0.0.22", "10.0.0.23"]

#netweaver_virtual_ips = ["10.0.1.25", "10.0.1.26", "10.0.0.27", "10.0.0.28"]

# Pre deployment

# Enable all some pre deployment steps (disabled by default)
#pre_deployment = true
